.head {
  padding: 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.head a {
  text-align: left;
  color: white;
  padding: 6px 12px;
  display: inline-block;
  border-radius: 36px;
  font-size: 2.5em;
  text-decoration: none;
  font-family: fantasy;
}

.menu {
  float: right;
  padding-right: 20px;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner img {
  max-width: 100%;
  filter: contrast(150%) blur(2px);
}

.banner .heading {
  color: white;
  position: absolute;
  top: 25%;
}

.cod {
  border: 5px solid white;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 4em;
  font-family: fantasy;
}

.welcome {
  letter-spacing: 5px;
  text-align: center;
  font-size: 1.5em;
  font-family: monospace;
}

.details {
  text-align: justify;
  font-size: 1.5em;
  font-family: monospace;
  width: 500px;
}
